@import url("reset.css");
@import url("theme.css");
@import url("base.css");
@import url("navigation.css");
@import url("layout.css"); /* Main styles */
@import url("components.css");

/* This is my barrel page */
